@font-face {
    font-family: 'iconss';
    src: url('../font/iconss.eot');
    src: url('../font/iconss.eot?#iefix') format('embedded-opentype'),
    url('../font/iconss.woff') format('woff'),
    url('../font/iconss.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

